.contact-container {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    justify-content: center;
}

.contact-container a {
    color: white;
    text-decoration: none;
    margin: 5px;
}

.icon-links {
    display: flex;
    gap: 20px;
}

