.home {
    justify-content: center;
    width: 40%;
    background-color: rgb(205, 214, 214);
    margin-left: 10%;
    margin-top: 5%;
    font-size: 24px;
    border-top-right-radius: 5px;
    border-color: rgb(69, 69, 69);
    border-top: solid 25px rgb(69, 69, 69);
    border-left: solid 25px rgb(69, 69, 69);
    border-bottom: solid 15px rgb(69, 69, 69);
    border-right: solid 15px rgb(69, 69, 69);
    padding: 2%;
    
}
