
  @media (max-width: 860px) {
    .home {
        justify-content: right;
        width: 50%;
        background-color: rgb(146, 146, 146);
        margin-left: 10%;
        margin-top: 5%;
        font-size: 18px;
        padding: 15%;
        text-align: center;
        border-radius: 15%;

    }
    .home-small-text{
        text-align: left;
    }

  }
  
  @media (min-width: 861px) {
    .home {
        justify-content: right;
        width: 40%;
        background-color: rgb(205, 214, 214);
        margin-left: 10%;
        margin-top: 5%;
        font-size: 18px;
        
        padding: 2%;
        
    }
  }