.footer {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2% 10%;
}

.footer-text {
  color: white;
  text-align: left;
  font-weight: bold;
}

.footer-icons {
  display: flex;
  gap: 20px;
}

.footer-icons a {
  color: white;
  text-decoration: none;
}
