.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  padding: 20px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  padding: 20px;
}
.projects-container a {
  text-decoration: underline;
  color: inherit; /* Dette vil sørge for at lenken har samme farge som omkringliggende tekst */
}


.section {
  width: 100%;
  max-width: 1200px;
  margin: 40px 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.section.visible {
  opacity: 1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content .text,
.content .image {
  width: 100%;
  text-align: center;
  padding: 0 20px;
}

.content .text {
  margin-bottom: 20px;
}

.image img {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: contain;
  border-radius: 15px;
}

@media (min-width: 768px) {
  .content {
    flex-direction: row;
  }
  .content .text,
  .content .image {
    width: 50%;
    text-align: left;
    padding: 0 40px;
  }
  .content .text {
    margin-top: -200px;
  }
  .section:nth-child(even) .content {
    flex-direction: row-reverse;
  }
}
